# *.json

**/__pycache__
__pycache__/

frontend/eslint.config.js
frontend/vite.config.js

*/package-lock.json
*/package.json


.DS_Store

.venv

*.svg
.env

ai-prompts.md

**/alembic.ini
**/script.py.mako
**/migrations/versions/
**/migrations/README